/* assets/custom.css */

/* Adjust title font size on small screens */
.app-title {
    font-size: 2rem;
}

@media (max-width: 576px) {
    .app-title {
        font-size: 1rem;
    }
}

/* Adjust label font size on small screens */
.label {
    font-weight: bold;
}

@media (max-width: 576px) {
    .label {
        font-size: 0.9rem;
    }
}

/* Ensure the dropdown menu doesn't exceed a certain width */
.dropdown .Select-menu-outer {
    max-width: 200px; /* Adjust this value as needed */
}

/* Truncate long text with ellipsis */
.dropdown .Select-option, 
.dropdown .Select-menu-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
    /* Set the width of the dropdown menu */
    .Select-menu-outer {
        width: 300px;  /* Adjust this value as needed */
    }

    /* Truncate long options with ellipsis */
    .VirtualizedSelectOption {
        max-width: 80px;  /* Slightly less than menu width to account for padding */
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}